spring:
  redis:
    host: 203.195.171.218
    password:  
    timeout: 25s
    port: 6379


  mvc:
    static-path-pattern: /static/**
    date-format: yyyy-MM-dd
    hiddenmethod:
      filter:
        enabled: true
  thymeleaf:
    cache: false
  resources:
    static-locations:
      - classpath:/static/
      - file:D:\\static
  datasource:
    username: root
    password: 199951
    url: jdbc:mysql://39.98.230.52:3306/wuai?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    # 初始化大小，最小，最大
    initialSize: 5
    minIdle: 5
    maxActive: 20
    # 配置获取连接等待超时的时间
    maxWait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 30000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    # 打开PSCache，并且指定每个连接上PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  servlet:
    multipart:
      max-file-size: 10MB




server:
  port: 80

mybatis:
  config-location: classpath:mybatis/mybatisconfig.xml
  mapper-locations: classpath:mybatis/mapper/*.xml








